<h1>Welcome</h1>
<p>Lorem ipsum&hellip;</p>
<div class="managed-content">{lorem(p, 5)}</div>
<div class="more-content">
	{lorem(p)}
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Sed at auctor ante Sed vel pellentesque elit Donec nec est vel</p>
<div class="managed-content">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Sed at auctor ante Sed vel pellentesque elit Donec nec est vel</p>
<p>Odio condimentum mattis sed at tortor Phasellus aliquet augue elit, sed feugiat nisi ornare nec Etiam lacinia, nibh id egestas</p>
<p>Tempus, eros turpis feugiat odio, vitae bibendum odio nisi ac sapien Donec mollis diam ac nibh pretium malesuada Cum sociis</p>
<p>Natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus Nulla facilisi Nulla pharetra lectus quis ultricies elementum Nam fermentum</p>
<p>Quam sit amet enim suscipit eleifend Nunc pellentesque ornare arcu Ut erat leo, sodales hendrerit pretium sed, luctus at eros</p>
<p>Cras lobortis scelerisque nisi, sit amet porta sem laoreet eu Aliquam sit amet sapien facilisis, congue metus nec, sollicitudin ipsum</p>
<p>Pellentesque dignissim augue non tellus mattis, et tempor justo ultricies Cras et purus tempor, vehicula sem eleifend, rutrum metus Duis</p>
<p>Commodo purus purus, in blandit sapien dapibus sit amet Mauris facilisis eu erat quis tristique Maecenas consectetur adipiscing leo, blandit</p>
<p>Sodales magna dignissim consectetur Mauris a fringilla tortor, pretium condimentum tellus Nam urna ipsum, rutrum tincidunt convallis eu, porta quis</p>
<p>Mauris Sed eleifend mi sed pretium eleifend Curabitur eget dui pretium, tincidunt ante eget, pharetra dui Vivamus pulvinar sem sem</p>
</div>
<div class="managed-content">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Sed at auctor ante Sed vel pellentesque elit Donec nec est vel</p>
<p>Odio condimentum mattis sed at tortor Phasellus aliquet augue elit, sed feugiat nisi ornare nec Etiam lacinia, nibh id egestas</p>
<p>Tempus, eros turpis feugiat odio, vitae bibendum odio nisi ac sapien Donec mollis diam ac nibh pretium malesuada Cum sociis</p>
<p>Natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus Nulla facilisi Nulla pharetra lectus quis ultricies elementum Nam fermentum</p>
<p>Quam sit amet enim suscipit eleifend Nunc pellentesque ornare arcu Ut erat leo, sodales hendrerit pretium sed, luctus at eros</p>
<p>Cras lobortis scelerisque nisi, sit amet porta sem laoreet eu Aliquam sit amet sapien facilisis, congue metus nec, sollicitudin ipsum</p>
<p>Pellentesque dignissim augue non tellus mattis, et tempor justo ultricies Cras et purus tempor, vehicula sem eleifend, rutrum metus Duis</p>
<p>Commodo purus purus, in blandit sapien dapibus sit amet Mauris facilisis eu erat quis tristique Maecenas consectetur adipiscing leo, blandit</p>
<p>Sodales magna dignissim consectetur Mauris a fringilla tortor, pretium condimentum tellus Nam urna ipsum, rutrum tincidunt convallis eu, porta quis</p>
<p>Mauris Sed eleifend mi sed pretium eleifend Curabitur eget dui pretium, tincidunt ante eget, pharetra dui Vivamus pulvinar sem sem</p>
</div>
{lorem(img, 780, 50)}
<img src='http://placehold.it/350x150' />
{lorem(list, [ul|li|div])}